body { /*CORPO */
    margin: 0;
}


/* Estilização da nav*/
nav {
    background-color: rgb(228, 227, 227);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
}
a {
    margin-right: 40px;
    text-decoration: none;
    color: rgb(137, 137, 137);
    font-family: Arial;
    font-size: 15px;
}


/* Estilização da tabela e de seus elementos(palavras e a imagem)*/
table {
    background-color: #0e67b0;
    width: 100%;
    height: 20px;
    text-align: left;

}
.texto {
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-size: 15px;
    
}
img#logo {
    margin-left: 120px;
    height: 75px;
}





div { /* Estilização da imagem do "fale conosco"*/
    position: relative;
    text-align: center;
    
}
img#faleconosco {
    width: 100%;
}




/* Estilização do formulário*/
h3{
    margin-left: 320px;
    margin-top: 60px;
    font-family: Arial;
}
form {
    font-family: sans-serif;
}

div#formulario {
    height: 350px;
}

input {
    margin: 10px;
    width: 50%;

}
input#mensagem {
    height: 100px;
}
p#campos{
    color: red;
    font-family: Arial;
    font-size: 11px;
    margin-left: 320px;
}

button {
    margin-left:400px;
    background-color: #0e67b0;
    color: white;
    height: 30px;
    width: 70px;
    border-radius: 10px;
    




/* Estilização da div de contato*/
}
div#contato{
    background-color: #0e67b0;
    margin-top: 100px;
    height: 300px;
    color: white;
    font-family: Arial;
    font-size: 14px;
    display: flex;
    align-items: center;
}
table#contato{
    border-spacing: 20px;
}
td{
    width: 100px;
    text-align: left;
}
td#endereco{
    font-size: 11px;
}
.redessociais{
    width: 15px;
}




/* Estilização do rodapé da página*/
div#rodape {
    height: 100px;
    display: flex;
    justify-content: center;
    font-family: Arial;
    background-color: whitesmoke;
    align-items: center;
    
}